@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--image-checkbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
	}

	html, body {
		@apply h-screen;
	}
	body {
		@apply flex flex-col items-start tracking-wide font-normal bg-secondary text-black;
	}

	input[type="checkbox"] {
		@apply block w-4 h-4 bg-white dark:bg-gray-700 border border-gray-400 outline-none dark:border-gray-600 rounded text-blue-600 cursor-pointer appearance-none;
		background-image: var(--image-checkbox);

		&:checked { @apply bg-blue-600; }
	}
}

.scrollbar {
	scrollbar-color: #6b6b6b8f #49464638;
	scrollbar-width: thin;
}

.dropdown-button {
	@apply flex w-full items-center justify-start gap-x-1 py-2 px-3 rounded-lg text-sm hover:bg-gray-100 focus:outline-none focus:bg-gray-100;
}

.sortable-ghost {
	opacity: .5 !important;
}
